.container:not(.active) {
	.development {
		box-shadow: -5px 0 80px rgba(0,0,0,0.75);
	}
	.project__highlight {
		transition-delay: 0.5s;
	}
}

.container.active {
	&:not(.no-direct) {
		.development {
			box-shadow: -5px 0 80px rgba(0,0,0,0.25);
		}
	}
	.stacked .section__content {
		width: calc(#{$section-maximised} - #{$section-minimised});
	}
}

.section.active {
	z-index: 5;
	box-shadow: -5px 0 80px rgba(0,0,0,0.75);

	.section__content {
		overflow-y: scroll;
		
		&.highlight {
			overflow-y: hidden;

			.project__highlight.active {
				top: 0;
			}
		}

		.section__project {
			&:hover {
				cursor: pointer;
	
				.project__image {
					opacity: 0.7;
				}
			}
		}
	}
	&:nth-of-type(2) {
		.project__highlight {
			left: $section-minimised;
		}
	}
}

.section__content {
	width: $section-maximised;
	height: 100%;
	padding: $section-padding;
	box-sizing: border-box;
	color: $white;
	overflow-y: auto;
	transition: 0.25s;	
}

.section__main {
	position: relative;
}

.content__title,
.content__tags {
	margin-bottom: 50px;
}

.content__title {
	@include position(relative, null, null, null, null);
	margin-top: 0;
	font-size: 8vh;
	font-weight: 600;
	text-transform: uppercase;
}

.content__close,
.highlight__close {
	@include position(absolute, 25px, 0, null, null);
	width: 100%;
	width: 3.5vw;
    height: 3.5vw;

	&:hover {
		&:after {
			cursor: pointer;
		}
	}
	
	&:after {
		content: '\2715';
		@include position(absolute, -10px, 0, null, null);
		font-size: 3.5vw;
	}
}

.content__tags {
	padding: 0;

	.tag {
		display: inline-block;
		list-style-type: none;
		font-size: 21px;

		&:not(:last-of-type) {
			margin-right: 30px;
		}
	}
}

.content__description {
	font-size: 24px;
	font-weight: 300;
	line-height: 30px;
}

.section__projects {
	margin-top: $section-margin-top;
}

.projects__title {
	margin-top: 0;
	font-size: 5vh;
	font-weight: 500;
	text-transform: uppercase;
}

.section__project {
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: calc(33.333% - 30px);
	height: 360px;
	padding: 30px;
	box-sizing: border-box;
	background-color: $white;
	box-shadow: 2px 4px 30px 0 rgba(51, 51, 51, 0.3);

	&:before {
		content: '';
		z-index: 1;
		@include position(absolute, -3%, -10%, -10%, -10%);
		width: 120%;
		height: 132%;
		background: linear-gradient(173deg, #ffffff 35%, transparent 50%);
		filter: blur(10px);
	}
	
	&:not(:last-of-type) {
		margin-right: 30px;
	}
}

.project__title,
.highlight__title {
	z-index: 2;
	@include position(relative, null, null, null, null);
	margin: 0;
	padding: 10px 20px;
	font-size: 36px;
	text-transform: uppercase;
	color: $grey-dark;

	&:before {
		content: '';
		@include position(absolute, 0, null, null, 0);
		width: 4px;
		height: 100%;
		background-color: $grey-dark;
	}
}

.project__image {
	@include position(absolute, null, 0, 0, 0);
	width: 100%;
	min-height: 67%;
	object-fit: cover;
	object-position: bottom;
	z-index: 0;
	pointer-events: none;
	transition: 0.25s;
}

.project__highlight {
	z-index: 9;
	@include position(fixed, 100vh, 0, 0, 0);
	width: $section-maximised;
	height: 100vh;
	padding: $section-padding;
	box-sizing: border-box;
	overflow-y: scroll;
	background: $white;
	transition: 0.5s ease;
}

.highlight__close {
	color: $grey-dark;
	top: calc(#{$section-padding} + 25px);
	right: $section-padding;
}

.highlight__title {
	font-size: 60px;
	z-index: auto;
}

.highlight__intro,
.highlight__description {
	margin-top: $section-margin-top;
	color: $grey-dark;
	font-size: 21px;
	font-weight: 300;
}

.highlight__background {
	@include position(absolute, 0, 0, 0, 0);
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.05;
	filter: blur(10px);
	pointer-events: none;
}
