<!DOCTYPE html>
<html lang="en-GB">

<head>
	<meta charset="UTF-8">
	<title>
		<%= htmlWebpackPlugin.options.title %>
	</title>
	<meta name="author" content="Fabian Mercey">
	<meta name="description" content="This portfolio features design and development work of Fabian Mercey.">
</head>

<body>
	<div class="container">
		<section class="section design">
			<h2 class="section__title">UX &#47; Design</h2>
			<ul class="section__tags">
				<li class="tag">Adobe Photoshop CC</li>
				<li class="tag">Adobe Illustrator CC</li>
				<li class="tag">Sketch</li>
				<li class="tag">myBalsamiq</li>
			</ul>
			<p class="section__text">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque
				nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
				Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus.
			</p>
			<div class="section__overlay"></div>
			<img class="section__background" src="<%= require('../src/assets/images/design-bg.jpg') %>" />
		</section>
		<section class="section development">
			<h2 class="section__title">Front-end Coding</h2>
			<ul class="section__tags">
				<li class="tag">HTML5</li>
				<li class="tag">SCSS</li>
				<li class="tag">JavaScript</li>
				<li class="tag">jQuery</li>
			</ul>
			<p class="section__text">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque
				nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
				Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus.
			</p>
			<div class="section__overlay"></div>
			<img class="section__background" src="<%= require('../src/assets/images/development-bg.jpg') %>" />
		</section>
		<section class="section about">
			<h2 class="section__title">About Me</h2>
			<p class="section__text">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque
				nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
				Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus.
			</p>
		</section>
		<section class="section photography">
			<h2 class="section__title">Photography</h2>
		</section>
	</div>
</body>

</html>